*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1e9f60;
    text-align: left;
}
td,th{
  padding: 0.5rem;
}