*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
.header{
    text-align: center;
    padding: 1.5rem;
    background: #4b4b4b;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}
.box{
    display: flex;
    flex-basis: 30%;
    border-radius: 1rem;
    padding: 0.75rem;
    gap: 1rem;
    border: 1px solid #e8ac10;
}
.box:hover{
    background: rgba(229, 187, 24, 0.74);
}
.img > img{
    width: 100%;
    border-radius: 0.25rem;
}
.name {
    color: #fff04f;
    font-size: 1.25em;
    margin-bottom: 0.5em;
}
.name-desc{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.family{
    font-weight: bold;
}
.pages{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.pages > a{
    border: 1px solid #c9bf00;
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color: white;
}
.active{
    background-color: #c9bf00;
}