*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1e9f60;
}
#btn{
    background: #4792e8;
    border-radius: 0.25rem;
    padding: 1rem;
    width: 400px;
    outline: none;
    border: none;
    color: white;
}
#btn:hover{
    transition: 0.25s;
    background: #2b7bda;
}